body {
    font-family: Roboto, sans-serif;
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    display: flex;
    justify-content: space-between;
}


.navigation {
    opacity: 0;
    padding: 40px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container {
    padding-top: 16px;
    padding-bottom: 14px;
}

.mail-content {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail {
    order: 2;
}

.phone-content {
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #434455;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.menu-socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 56px;
}

.menu-social-item {
    width: 48px;
    height: 48px;
}

.mobile-menu {
    border: none;
    background-color: transparent;
}

.mobile-menu-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 25px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #E7E9FC;
    fill: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.mobile-menu-close:hover {
    background-color: rgba(64, 75, 191, 1);
    fill: white;
}

.menu-social-link {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    fill: #F4F4FD;
    background-color: #4D5AE5;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.menu-social-link:hover,
.menu-social-link:focus {
    background-color: #404BBF;
}

.header-nav {
    padding-top: 40px;
}

.header-items {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: #2E2F42;
    margin-bottom: 40px;
}

.header-link {
    color: #2E2F42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.mobile-menu-contacts {
    color: #404BBF;
}

.mail-content:hover,
.mail-content:focus {
    color: #404BBF;
}

.phone-content:hover,
.phone-content:focus {
    color: #404BBF;
}

.current {
    color: #404BBF;
}

.current::after {
    position: relative;
    top: 24px;
    content: "";
    display: block;
    height: 4px;
    background-color: rgba(64, 75, 191, 1);
    border-radius: 2px;
}

.header-logo {
    width: 115px;
    display: flex;
    align-items: center;
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logo-split {
    width: 44px;
    color: #4D5AE5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-bottom: 96px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    text-align: center;
}

.intro {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/goit-markup-hw-07/images/index_images/intro-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro-title {
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 35px;
    line-height: 1.11;
    text-align: center;
    color: #FFFFFF;
    width: 318px;
    height: 80px;
}

.intro-container {
    gap: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-btn {
    font-weight: 500;
    font-family: inherit;
    background: #4D5AE5;
    border-radius: 4px;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.04em;
    border: none;
    width: 169px;
    height: 56px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.intro-btn:hover,
.intro-btn:focus {
    background-color: #404BBF;
}

.svg-icon {
    display: none;
}

.feature-title {
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    margin-bottom: 8px;
}

.feature-content {
    color: #434455;
}

.features {
    padding-top: 96px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.feature-list {
    width: 100%;
}

.about {
    display: none;
}

.team {
    padding-top: 96px;
    background-color: #F4F4FD;
}

.team-title {
    display: flex;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2E2F42;
    justify-content: center;
    margin-bottom: 72px;
}

.person {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    margin-bottom: 8px;
}

.person-info {
    font-weight: 400;
    margin-bottom: 8px;
}

.team-item {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.card-content {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.person {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.person-info {
    text-align: center;
    font-weight: 400;
    margin-bottom: 8px;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-network-link {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    fill: #F4F4FD;
    background-color: #4D5AE5;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.social-network-link:hover,
.social-network-link:focus {
    background-color: #404BBF;
}

.customers {
    padding-top: 96px;
}

.customers-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.customer-logo {
    fill: #8E8F99;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.customer-link {
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 5px;
    width: 190px;
    height: 88px;
    align-items: center;
    justify-content: center;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.customer-link:hover,
.customer-link:focus {
    border-color: #404BBF;
}

.customer-link:hover .customer-logo {
    fill: #404BBF;
}

.footer {
    background: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-content {
    width: 264px;
    font-weight: 400;
    color: #E7E9FC;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-logo-split {
    color: #4D5AE5;
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    fill: #F4F4FD;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}

.footer-media-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    color: white;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-subscribe-content {
    display: block;
    width: 100%;
    color: white;
    margin: 0 auto;
    padding: 8px 16px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}

.footer-subscribe {
    width: 100%;
}

.footer-subscribe-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-subscribe-icon {
    fill: white;
}

.subscribe-btn {
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    border: none;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}

.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    height: 584px;
    background: #FCFCFC;
    padding: 20px;
    padding-top: 70px;
    position: absolute;
    border-radius: 4px;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition-property: modal-close, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 22px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.modal-close:hover,
.modal-close:focus {
    background-color: rgba(64, 75, 191, 1);
    fill: white;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-title {
    margin-bottom: 16px;
    text-align: center;
    color: #2E2F42;
}

.form-label {
    margin-bottom: 8px;
    display: inline-block;
    position: relative;
}

.form-label:last-of-type {
    margin-bottom: 16px;
}

.input-title {
    display: block;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.form-input {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    padding-left: 38px;
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.privacy-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    color: #757575;
}

.form-textarea {
    display: block;
    width: 360px;
    height: 120px;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    outline: none;
}

.form-textarea:focus {
    border-color: #4D5AE5;
}

.privacy-group {
    margin-bottom: 24px;
}

.form-btn {
    margin: 0 auto;
    display: block;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    border: none;
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404BBF;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 38px;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input:focus + .form-icon {
    fill: #4D5AE5;
}

.privacy-link {
    margin-left: 2px;
    text-decoration: underline;
}

.privacy-label {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #757575;
    align-items: center;
}

.privacy-label span {
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color, border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.form-checkbox:checked + .privacy-label span {
    border: 1.25px solid #404BBF;
    background: #404BBF;
    fill: white;
}

.portfolio {
    padding-top: 48px;
}

.btn-nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 318px;
    gap: 24px;
    margin-bottom: 72px;
    text-align: center;
}

.portfolio-nav-btn {
    flex: 50%;
    font-family: inherit;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background: #F4F4FD;
    color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    transition-property: background, box-shadow, border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: #404BBF;
    background: #404BBF;
    color: #FFFFFF;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.project-link {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.overlay-content {
    color: #F4F4FD;
    padding: 40px 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.project-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-image img {
    width: 396px;
    height: 280px;
}

.project-link:hover .overlay {
    transform: translatex(0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(77, 90, 229, 0.7), rgba(77, 90, 229, 0.7));

    transform: translatey(100%);
    transition: transform 250ms ease;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.project-desc {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: 0;
}


.hide {
    display: none;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .intro {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/goit-markup-hw-07/images/index_images/intro-mob-2x.jpg);
    }
}

@media screen and (min-width: 768px) {

    .contacts {
        margin-bottom: 0;
    }

    .mail {
        order: 0;
    }

    .hide {
        display: block;
    }


    .mobile-menu {
        display: none;
    }

    .navigation {
        display: none;
        /* display: flex; */
        position: relative;
        height: 100%;
        background-color: transparent;
        padding: 0;
        gap: 118px;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-menu-close {
        display: none;
    }

    .mobile-menu-socials {
        display: none;
    }

    .header-items {
        flex-direction: row;
        gap: 40px;
    }

    .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;

        /* OCEAN */
        color: #404BBF;
        margin-bottom: 0;
    }

    .mail-content {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        letter-spacing: 0.04em;
    }

    .phone-content {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        letter-spacing: 0.04em;
    }

    .contacts {
        gap: 4px;
    }

    .logo {
        display: block;
    }

    .header-nav {
        padding-top: 0;
    }

    .intro {
        padding-bottom: 108px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/goit-markup-hw-07/images/index_images/intro-tablet-1x.jpg);
    }

    .intro-container {
        gap: 40px;
    }

    .feature-list {
        width: 356px;
    }

    .feature-item {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .feature-content {
        font-size: 18px;
    }

    .team-item {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }

    .footer-subscribe {
        width: 493px;
    }

    .footer {
        padding-left: 108px;
    }


    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
    }

    .footer-form {
        flex-direction: row;
    }

    .footer-logo {
        justify-content: left;
    }

    .footer-media-title {
        text-align: left;
    }

    .footer-subscribe-content {
        width: 264px;
    }

    .footer-subscribe-title {
        text-align: left;
    }

    .subscribe-btn {
        margin-left: 0;
    }

    .customer-link {
        width: 168px;
    }

    .feature-title {
        text-align: left;
    }

    .header-logo {
        margin-right: 0;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .intro {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/goit-markup-hw-07/images/index_images/intro-tablet-2x.jpg);
    }
}


@media screen and (min-width: 1200px) {

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .bottom-mobile-menu {
        margin-left: auto;
    }

    .header-container {
        justify-content: flex-start;
    }


    .contacts {
        flex-direction: row;
        gap: 40px;
    }


    .container {
        max-width: 1158px;
    }

    .section {
        padding-bottom: 120px;
    }

    .intro {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/goit-markup-hw-07/images/index_images/desktop-intro-title-1x.jpg);
    }

    .intro-title {
        font-size: 56px;
        line-height: 1.07;
        width: 500px;
    }

    .intro-container {
        gap: 56px;
    }

    .svg-icon {
        height: 112px;
        margin-bottom: 8px;
        display: flex;
        background: #F4F4FD;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
    }

    .feature-title {
        text-align: left;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
    }

    .feature-content {
        font-weight: 400;
    }

    .features {
        padding-top: 120px;
    }

    .feature-item {
        flex-direction: row;
        gap: 24px;
    }

    .feature-list {
        width: 264px;
    }

    .about {
        display: block;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
    }

    .team {
        padding-top: 120px;
    }

    .team-item {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
    }

    .customers {
        padding-top: 120px;
    }

    .customers-list {
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
    }

    .customer-link {
        width: 168px;
    }

    .footer {
        padding: 100px 0;
    }

    .footer-container {
        display: flex;
    }

    .footer-media-title {
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .footer-media {
        margin-left: 120px;
    }

    .footer-logo {
        justify-content: left;
    }

    .footer-form {
        flex-direction: row;
    }

    .footer-subscribe {
        margin-left: 20px;
        width: 453px;
    }

    .mail-content {
        font-size: 16px;
    }

    .phone-content {
        font-size: 16px;
    }

    .logo {
        margin-right: 76px;
    }

    .current::after{
        top: 34px;
    }
}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .intro {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/goit-markup-hw-07/images/index_images/desktop-intro-title-2x.jpg);
    }
}